<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_apps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_apps"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthScanApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.app.ui.home_imt.IndeksTubuhActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_profile.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_camera.IntentCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_main.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_menu.TesKesehatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_menu.TokoBergiziActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_menu.KonsultasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_menu.CatatanKonsumsiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_camera.CameraActivity"
            android:exported="false" />
        <activity android:name=".ui.app.login.SignGoogleActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.app.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_intro.BacklogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.login.LoginActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.app.ui.home_menu.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_menu.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_main.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.app.ui.home_intro.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>